body {
    margin-top: 70px;
    font-size: 16px;
}

.navbar-default {
    background-color: rgb(33, 179, 142);
    border: 0;
    font-family: Poppins;
}

.navbar-brand {
    font-size: 35px;
    color: #000 !important;
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Poppins;
}

p {
    font-family: Roboto;
    font-size: 15px;
}

#showcase h1 {
    font-size: 50px;
    margin-top: 20px;
}

#showcase img {
    width: 75%;
    height: 420px;
}

#showcase li {
    list-style-type: none;
}
